@import '~antd/dist/antd.css';

html,body{
  margin:0;
  height:100%;
}
/* .container{
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  background: #fff
} */
.header{
  width: 100%;
  height: 60px;
}
.content{
  width: 100%;
  height: calc(100% - 120px);
}
.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.search{
  float: right;
  width: 200px;
  height: 31px;
  margin: 16px 24px 16px 0;
}

/* infowindoww样式 */
.BMap_pop img {
	display: none !important;
}

.site-layout-background {
  /* margin: 0; */
  background: #fff;
}

/* 修改表头文字、背景颜色   */
.ant-table-thead > tr > th{
  margin-top: -16px;
  color: white;
  background: #8ebcf0 !important;
  text-align: center !important;
}

/* 修改列表文字、背景颜色   */
.ant-table-tbody > tr > td{
  color: #3071b9;
  background: white !important;
  text-align: center !important;
  padding: 10px 10px !important;
}
.predictdemo{
  background: #ececec;
  height: calc(100vh - 65px);
  padding: 30px;
}
.historymap{
  height: calc(100vh - 65px);
}



.card-container p {
  margin: 0;
}
.card-container > .ant-tabs-card .ant-tabs-content {
  height: 120px;
  margin-top: -16px;
}
.card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
  /* padding: 16px; */
  background: #fff;
}
.card-container > .ant-tabs-card > .ant-tabs-nav::before {
  display: none;
}
.card-container > .ant-tabs-card .ant-tabs-tab,
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-tab {
  background: transparent;
  border-color: transparent;
}
.card-container > .ant-tabs-card .ant-tabs-tab-active,
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-tab-active {
  background: #fff;
  border-color: #fff;
}
.code-box-demo {
  padding: 24px;
  overflow: hidden;
  background: #f5f5f5;
}
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-content {
  height: 120px;
  margin-top: -8px;
}
[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-tab {
  background: transparent;
  border-color: transparent;
}
[data-theme='dark'] .code-box-demo {
  background: #000;
}
[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
  background: #141414;
}
[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-tab-active {
  background: #141414;
  border-color: #141414;
}
.anchorBL{ 
	display:none; 
} 



/* body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  } */
  